<div class="navbar nav_title" style="border: 0;">
  <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Charity Project</span></a>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">  
  <div class="profile_info" style="text-align: center; width: 100%">
    <span>Welcome, <span style="color: white">Guest</span></span>
  </div>
</div>
<!-- /menu profile quick info -->

<br />
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Capstone</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-user"></i> Admin <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="admin_dashboard.php">Dashboard (WIP)</a></li>
          <li><a href="report_list.php">Report List (WIP)</a></li>
          <li><a href="donation_list.php">Donation List (WIP)</a></li>
          <li><a href="event_list.php">Event List</a></li>
          <li><a href="user_list.php">User List</a></li>
          <li><a href="post_list.php">Post List</a></li>
          <li><a href="post_creator.php">Post Creator</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-street-view"></i> Producer <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="event_list_producer.php">Event List</a></li>
          <li><a href="event_creator.php">Event Creator</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-users"></i> User <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="user_page.php" readonly="readonly">User Page (WIP)</a></li>
          <li><a href="edit_user_page.php" readonly="readonly">Edit User Page (WIP)</a></li>
          <li><a href="donate.php" readonly="readonly">Donate (WIP)</a></li>
          <li><a href="report.php" readonly="readonly">Report (WIP)</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-users"></i> Guest <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="login.php" readonly="readonly">Log In (WIP)</a></li>
          <li><a href="event_list_user.php" readonly="readonly">Event List (WIP)</a></li>
          <li><a href="event_details.php" readonly="readonly">Event Details (WIP)</a></li>
          <li><a href="producer_list_user.php" readonly="readonly">Producer List (WIP)</a></li>
          <li><a href="producer_details.php" readonly="readonly">Producer Details (WIP)</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>