extends layout

block content
	doctype html
	html(lang='en')
		head
			meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
			// Meta, title, CSS, favicons, etc.
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title Charity Project | Event List
			// Bootstrap
			link(href='../vendors/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// NProgress
			link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
			// iCheck
			link(href='../vendors/iCheck/skins/flat/green.css', rel='stylesheet')
			// bootstrap-progressbar
			link(href='../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
			// JQVMap
			link(href='../vendors/jqvmap/dist/jqvmap.min.css', rel='stylesheet')
			// bootstrap-daterangepicker
			link(href='../vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// Custom Theme Style
			link(href='../build/css/custom.min.css', rel='stylesheet')
			script(src='../javascripts/event_list.js')		
		body.nav-md.footer_fixed		
			.right_col(role='main')
				// top tiles
				.row.page-title
					.title(style='margin: 10px')
						h1 Events
				br
				br
				.container
					.row.tile_count
						ul.nav.nav-tabs
							li.active.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#pendingEvents')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-spinner.fa-pulse
												|  Pending Events
											.count 4
											span.count_bottom
												i.green
													i.fa.fa-sort-asc
													| 3%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#events')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-bar-chart
												|  Total Events
											.count 7
											span.count_bottom
												i.green 4% 
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#approvedEvents')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-thumbs-o-up
												|  Approved Events
											.count.green 1
											span.count_bottom
												i.green
													i.fa.fa-sort-asc
													| 34%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#disapprovedEvents')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-thumbs-o-down
												|  Disapproved Events
											.count.red 1
											span.count_bottom
												i.red
													i.fa.fa-sort-desc
													| 12%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#cancelledEvents')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-close
												|  Cancelled Events
											.count 1
											span.count_bottom
												i.green
													i.fa.fa-sort-asc
													| 34%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#producers')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-child
												|  Number of Producers
											.count 100
											span.count_bottom
												i.green
													i.fa.fa-sort-asc
													| 34%
												|  From last Week
				.tab-content
					#pendingEvents.tab-pane.fade.in.active
						.row
							.col-md-12.col-sm-12.col-xs-12
								.col-md-6
									h3
										| Pending events 
										small (sub-title)
								.clearfix
							.x_content
								table#tablePendingEvents.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
									thead
										tr
											th #
											th Action
											th Event
											th Type
											th User
											th Full Name
											th Company Name
											th Email
											th Phone
											th Start Date
											th Location
											th Budget
											th Create Date
											th Pending For
									tbody
										tr
											td(style='margin:10px') 1
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
													a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
														span.glyphicon.glyphicon-ok
													a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
														span.glyphicon.glyphicon-remove
											td Charity Hospital
											td Voluntary
											td HuyNLQ
											td NLQH
											td numbuh1 Co.
											td huynlqse61661@fpt.edu.vn
											td 09195924629
											td 12/3/2017
											td Nhi Đông Hospital, HCMC
											td 30.000.000
											td 2/2/2017
											td Publish
										tr
											td(style='margin:10px') 2
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
													a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
														span.glyphicon.glyphicon-ok
													a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
														span.glyphicon.glyphicon-remove
											td Free Library
											td Voluntary
											td PhatLN
											td LNH Phát
											td EndFast Co.
											td phatln@gmail.com
											td 0912345678
											td 14/1/2017
											td City Library
											td 10.000.000
											td 3/2/2017
											td Report
										tr
											td(style='margin:10px') 3
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
													a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
														span.glyphicon.glyphicon-ok
													a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
														span.glyphicon.glyphicon-remove
											td Free Giveaway
											td Giveaway
											td Tobias123
											td Toby Lee
											td TL Co.
											td tby@gmail.com
											td 01213425829
											td 12/3/2017
											td Con Dao Island
											td 0
											td 4/2/2017
											td Edit
										tr
											td(style='margin:10px') 4
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
													a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
														span.glyphicon.glyphicon-ok
													a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
														span.glyphicon.glyphicon-remove
											td Charity Something
											td Charity
											td SomeDude
											td Dude Guy
											td DudeDude Co.
											td sdude@gmail.com
											td 0121234215
											td 12/3/2017
											td Ben Thanh
											td 20.000.000
											td 4/2/2017
											td Cancel
					#events.tab-pane.fade
						.row
							.col-md-12.col-sm-12.col-xs-12
								.col-md-6
									h3
										| All events 
										small (sub-title)
								.clearfix
							.x_content
								table#tableEvents.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
									thead
										tr
											th #
											th Action
											th Event
											th Status
											th Type
											th User
											th Full Name
											th Company Name
											th Email
											th Phone
											th Start Date
											th Location
											th Budget
											th Create Date
									tbody
										tr
											td(style='margin:10px') 1
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td An Approved Event
											td Approved
											td Charity
											td approve123
											td Guy Approve
											td Approval Co.
											td aaaaa@gmail.com
											td 0124325621
											td 12/4/2017
											td Place
											td 2.000.000
											td 1/2/2017
										tr
											td(style='margin:10px') 2
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td Charity Hospital
											td Pending for publish
											td Voluntary
											td HuyNLQ
											td NLQH
											td numbuh1 Co.
											td huynlqse61661@fpt.edu.vn
											td 09195924629
											td 12/3/2017
											td Nhi Đông Hospital, HCMC
											td 30.000.000
											td 2/2/2017
										tr
											td(style='margin:10px') 3
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td Free Library
											td Rending for report
											td Voluntary
											td PhatLN
											td LNH Phát
											td EndFast Co.
											td phatln@gmail.com
											td 0912345678
											td 14/1/2017
											td City Library
											td 10.000.000
											td 3/2/2017
										tr
											td(style='margin:10px') 4
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td Free Giveaway
											td Pending for edit
											td Giveaway
											td Tobias123
											td Toby Lee
											td TL Co.
											td tby@gmail.com
											td 01213425829
											td 12/3/2017
											td Con Dao Island
											td 0
											td 4/2/2017
										tr
											td(style='margin:10px') 5
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td Charity Something
											td Pending for cancel
											td Charity
											td SomeDude
											td Dude Guy
											td DudeDude Co.
											td sdude@gmail.com
											td 0121234215
											td 12/3/2017
											td Ben Thanh
											td 20.000.000
											td 4/2/2017
										tr
											td(style='margin:10px') 6
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td An Disapproved Event
											td Disapproved
											td Charity
											td disapprove123
											td Guy Disapprove
											td Disapproval Co.
											td bbbbb@gmail.com
											td 0124325621
											td 12/5/2017
											td Disapproved Place
											td 5.000.000
											td 1/2/2017
										tr
											td(style='margin:10px') 7
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td An Cancelled Event
											td Cancelled
											td Charity
											td cancelled123
											td Guy Cancelled
											td Cancelled Co.
											td ccccc@gmail.com
											td 0124325621
											td 12/5/2017
											td Cancelled Place
											td 5.000.000
											td 1/2/2017
					#approvedEvents.tab-pane.fade
						.row
							.col-md-12.col-sm-12.col-xs-12
								.col-md-6
									h3
										| Appproved events 
										small (sub-title)
								.clearfix
							.x_content
								table#tableApprovedEvents.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
									thead
										tr
											th #
											th Action
											th Event
											th Type
											th User
											th Full Name
											th Company Name
											th Email
											th Phone
											th Start Date
											th Location
											th Budget
											th Create Date
									tbody
										tr
											td(style='margin:10px') 1
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td An Approved Event
											td Charity
											td approve123
											td Guy Approve
											td Approval Co.
											td aaaaa@gmail.com
											td 0124325621
											td 12/4/2017
											td Place
											td 2.000.000
											td 1/2/2017
					#disapprovedEvents.tab-pane.fade
						.row
							.col-md-12.col-sm-12.col-xs-12
								.col-md-6
									h3
										| Disapproved events 
										small (sub-title)
								.clearfix
							.x_content
								table#tableDisapprovedEvents.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
									thead
										tr
											th #
											th Action
											th Event
											th Type
											th User
											th Full Name
											th Company Name
											th Email
											th Phone
											th Start Date
											th Location
											th Budget
											th Create Date
											th Reason
									tbody
										tr
											td(style='margin:10px') 1
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td An Disapproved Event
											td Charity
											td disapprove123
											td Guy Disapprove
											td Disapproval Co.
											td bbbbb@gmail.com
											td 0124325621
											td 12/5/2017
											td Disapproved Place
											td 5.000.000
											td 1/2/2017
											td Typos, Unreliable Informations
					#cancelledEvents.tab-pane.fade
						.row
							.col-md-12.col-sm-12.col-xs-12
								.col-md-6
									h3
										| Cancelled events 
										small (sub-title)
								.clearfix
							.x_content
								table#tableCancelledEvents.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
									thead
										tr
											th #
											th Action
											th Event
											th Type
											th User
											th Full Name
											th Company Name
											th Email
											th Phone
											th Start Date
											th Location
											th Budget
											th Create Date
									tbody
										tr
											td(style='margin:10px') 1
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
											td An Cancelled Event
											td Charity
											td cancelled123
											td Guy Cancelled
											td Cancelled Co.
											td ccccc@gmail.com
											td 0124325621
											td 12/5/2017
											td Cancelled Place
											td 5.000.000
											td 1/2/2017
					#producers.tab-pane.fade
						.row
							.col-md-12.col-sm-12.col-xs-12
								.col-md-6
									h3
										| Producers 
										small (sub-title)
								.clearfix
							.x_content
								table#tableProducers.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
									thead
										tr
											th.action-col #
											th.action-col Action
											th User
											th Full Name
											th Company Name
											th Email
											th Phone
											th Address
											th Past Events
											th Upcoming Events
											th Date Joined
									tbody
										tr
											td(style='margin:10px') 1
											td
												center
													a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
														span.glyphicon.glyphicon-search
													a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Ban', href='#')
														span.glyphicon.glyphicon-remove
											td BarbieLoli 
											td Dolly Heath
											td Doll Corps.
											td dllhth@gmail.com
											td 0909090909
											td 65 Le Thai Tong, HCMC
											td 1
											td 2
											td 14/1/2017
					// /top tiles
				// /page content
				// footer content
				footer
					.pull-right
						| Gentelella - Bootstrap Admin Template by 
						a(href='https://colorlib.com') Colorlib
					.clearfix
				// /footer content
			// jQuery
			script(src='../vendors/jquery/dist/jquery.min.js')
			// Bootstrap
			script(src='../vendors/bootstrap/dist/js/bootstrap.min.js')
			// FastClick
			script(src='../vendors/fastclick/lib/fastclick.js')
			// NProgress
			script(src='../vendors/nprogress/nprogress.js')
			// Chart.js
			script(src='../vendors/Chart.js/dist/Chart.min.js')
			// gauge.js
			script(src='../vendors/gauge.js/dist/gauge.min.js')
			// bootstrap-progressbar
			script(src='../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
			// iCheck
			script(src='../vendors/iCheck/icheck.min.js')
			// Skycons
			script(src='../vendors/skycons/skycons.js')
			// Flot
			script(src='../vendors/Flot/jquery.flot.js')
			script(src='../vendors/Flot/jquery.flot.pie.js')
			script(src='../vendors/Flot/jquery.flot.time.js')
			script(src='../vendors/Flot/jquery.flot.stack.js')
			script(src='../vendors/Flot/jquery.flot.resize.js')
			// Flot plugins
			script(src='../vendors/flot.orderbars/js/jquery.flot.orderBars.js')
			script(src='../vendors/flot-spline/js/jquery.flot.spline.min.js')
			script(src='../vendors/flot.curvedlines/curvedLines.js')
			// DateJS
			script(src='../vendors/DateJS/build/date.js')
			// JQVMap
			script(src='../vendors/jqvmap/dist/jquery.vmap.js')
			script(src='../vendors/jqvmap/dist/maps/jquery.vmap.world.js')
			script(src='../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
			// bootstrap-daterangepicker
			script(src='../vendors/moment/min/moment.min.js')
			script(src='../vendors/bootstrap-daterangepicker/daterangepicker.js')
			// Datatables
			script(src='../vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='../vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='../vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='../vendors/jszip/dist/jszip.min.js')
			script(src='../vendors/pdfmake/build/pdfmake.min.js')
			script(src='../vendors/pdfmake/build/vfs_fonts.js')
			// Custom Theme Scripts
			script(src='../build/js/custom.min.js')
