extends layout

block content
	doctype html
	html(lang='en')
		head
			meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
			// Meta, title, CSS, favicons, etc.
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title Charity Project | Post List
			// Bootstrap
			link(href='../vendors/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// NProgress
			link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
			// iCheck
			link(href='../vendors/iCheck/skins/flat/green.css', rel='stylesheet')
			// bootstrap-progressbar
			link(href='../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
			// JQVMap
			link(href='../vendors/jqvmap/dist/jqvmap.min.css', rel='stylesheet')
			// bootstrap-daterangepicker
			link(href='../vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// jQuery
			script(src='../vendors/jquery/dist/jquery.min.js')
			// Custom Theme Style
			link(href='../build/css/custom.min.css', rel='stylesheet')
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// Owl Carousel
			link(rel='stylesheet', href='../vendors/owl-carousel/owl.carousel.min.css')			
			// Styles
			link(href='../stylesheets/index.css', rel='stylesheet')
			style.
				li :hover {
				cursor: pointer;
				}
				.action-col {
				width:1%;
				}
		body.nav-md
			.right_col(role='main')				
				#page-content-wrapper
					.container		
						.row
							.row
							#owl-demo.owl-carousel.owl-tlheme
								.item(style="background-image: url('/images/system/homepage-1.jpg');")
									.text-item-des
										| Become a volunteer and join our
										br
										| organized and fully-detailed
										br
										| charity events.
										br
										br
										a.text-item(href="/events/list") JOIN AS A VOLUNTEER
										br
								.item(style="background-image: url('/images/system/homepage-2.jpg');")
									.text-item-des
										| Become a producer to help us organize more
										br
										| heart-warming helping hand activities.
										br
										br
										a.text-item(href="/login") BECOME A PRODUCER / SPONSOR
										br
								.item(style="background-image: url('/images/system/homepage-3.jpg');")
									.text-item-des
										| Join other volunteers for more
										br
										| discussions and requests for help.
										br
										br
										a.text-item(href="/login") VIEW THE COMMUNITY BOARD
										br
						hr
						.row(style="text-align: center")
							// INSIGHTS
							h1.col-lg-12.col-xs-12 WE PROMISED
						.row
							.col-lg-4.col-sm-4.col-xs-12(style="text-align: center")
								i.fa.fa-user.fa-5x(style="margin: 30px")
								br
								| RELIABLE
							.col-lg-4.col-sm-4.col-xs-12(style="text-align: center")
								i.fa.fa-building.fa-5x(style="margin: 30px")								
								br
								| FULLY-DETAILED
							.col-lg-4.col-sm-4.col-xs-12(style="text-align: center")
								i.fa.fa-credit-card.fa-5x(style="margin: 30px")
								br
								| UNIQUE EXPERIENCE
						hr
						.row
							// FEATURED EVENT CAROUSEL
							.col-lg-10.col-sm-10.col-xs-12.wow.fadeInLeft.animation-delay6
								h4.text-uppercase.featureText
									a(href="/eventlist", style="position: inline-block") Featured Events >>
								.owl-carousel.owl-theme.new-owl#eventCarousel		
						hr
						.row
							// POSTS TABLE
							.col-lg-5.col-sm-12.col-xs-12.wow.fadeInLeft.animation-delay6
								h4.text-uppercase.featureText
									a(href="/news", style="position: inline-block") News >>
								table#newsPanel.table.datatable-scroll.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='90%', style="margin:20px")
									thead
										tr
											th Rate
											th Title
											th Type
											th Aut
											th Cmt
											th Date
									tbody
							.col-lg-5.col-sm-12.col-xs-12.wow.fadeInLeft.animation-delay6
								h4.text-uppercase.featureText
									a(href="/board", style="position: inline-block") Community Board >>
								table#boardPanel.table.datatable-scroll.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='90%', style="margin:20px")
									thead
										tr
											th Rate
											th Title
											th Type
											th Aut
											th Cmt
											th Date
									tbody
				// /page content
				// footer content				
				// /footer content
							
				// jQuery
				script(src='../vendors/jquery/dist/jquery.min.js')
				// Bootstrap
				script(src='../vendors/bootstrap/dist/js/bootstrap.min.js')
				// FastClick
				script(src='../vendors/fastclick/lib/fastclick.js')
				// NProgress
				script(src='../vendors/nprogress/nprogress.js')
				// Chart.js
				script(src='../vendors/Chart.js/dist/Chart.min.js')
				// gauge.js
				script(src='../vendors/gauge.js/dist/gauge.min.js')
				// bootstrap-progressbar
				script(src='../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
				// iCheck
				script(src='../vendors/iCheck/icheck.min.js')
				// Skycons
				script(src='../vendors/skycons/skycons.js')
				// Flot
				script(src='../vendors/Flot/jquery.flot.js')
				script(src='../vendors/Flot/jquery.flot.pie.js')
				script(src='../vendors/Flot/jquery.flot.time.js')
				script(src='../vendors/Flot/jquery.flot.stack.js')
				script(src='../vendors/Flot/jquery.flot.resize.js')
				// Flot plugins
				script(src='../vendors/flot.orderbars/js/jquery.flot.orderBars.js')
				script(src='../vendors/flot-spline/js/jquery.flot.spline.min.js')
				script(src='../vendors/flot.curvedlines/curvedLines.js')
				// DateJS
				script(src='../vendors/DateJS/build/date.js')
				// JQVMap
				script(src='../vendors/jqvmap/dist/jquery.vmap.js')
				script(src='../vendors/jqvmap/dist/maps/jquery.vmap.world.js')
				script(src='../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
				// bootstrap-daterangepicker
				script(src='../vendors/moment/min/moment.min.js')
				script(src='../vendors/bootstrap-daterangepicker/daterangepicker.js')
				// Datatables
				script(src='../vendors/datatables.net/js/jquery.dataTables.min.js')
				script(src='../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
				script(src='../vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
				script(src='../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
				script(src='../vendors/datatables.net-buttons/js/buttons.flash.min.js')
				script(src='../vendors/datatables.net-buttons/js/buttons.html5.min.js')
				script(src='../vendors/datatables.net-buttons/js/buttons.print.min.js')
				script(src='../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
				script(src='../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
				script(src='../vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
				script(src='../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
				script(src='../vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
				script(src='../vendors/jszip/dist/jszip.min.js')
				script(src='../vendors/pdfmake/build/pdfmake.min.js')
				script(src='../vendors/pdfmake/build/vfs_fonts.js')
				// OwlCarousel
				script(src='../vendors/owl-carousel/owl.carousel.min.js')
				// Countdown JS
				script(src='../vendors/countdown/countdown.js')
				// Scripts
				script(src='../javascripts/index.js')
				// Custom Theme Scripts
				script(src='../build/js/custom.min.js')
