extends layout

block content
	html
		head
			// Meta Tags
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width,initial-scale=1.0')
			meta(http-equiv='content-type', content='text/html; charset=UTF-8')
			meta(name='description', content='CharityFund - Charity & Crowdfunding HTML Template')
			meta(name='keywords', content='building,business,construction,cleaning,transport,workshop')
			meta(name='author', content='ThemeMascot')
			// Page Title
			title CharityFund - Charity & Crowdfunding HTML Template
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// Bootstrap
			link(href='../vendors/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
			// OwlCarousel
			script(src='../vendors/owl-carousel/owl.carousel.min.js')
			link(rel='stylesheet', href='../vendors/owl-carousel/owl.carousel.min.css')
			// Countdown JS
			script(src='../vendors/countdown/countdown.js')
			// Custom Theme Style
			link(href='../build/css/custom.min.css', rel='stylesheet')
			// Scripts
			script(src='../javascripts/index.js')
				
			// Styles
			link(href='../stylesheets/index.css', rel='stylesheet')
				
		body.nav-md
			.right_col(role='main')				
				#page-content-wrapper
					.container		
						.row
							h1 WELCOME
							#owl-demo.owl-carousel.owl-theme
								.item
									img(src='http://ruseller.com/lessons/les1814/demo/demos/assets/fullimage1.jpg', alt='The Last of us')
								.item
									img(src='http://ruseller.com/lessons/les1814/demo/demos/assets/fullimage1.jpg', alt='GTA V')
								.item
									img(src='http://ruseller.com/lessons/les1814/demo/demos/assets/fullimage1.jpg', alt='Mirror Edge')
						hr
						.row
							// FEATURED EVENT CAROUSEL
							.col-sm-12.col-lg-4.wow.fadeInLeft.animation-delay6
								h4.text-uppercase.featureText Chiến dịch nổi bật
								.owl-carousel.owl-theme#eventCarousel
									.eventItem
										.thumb(style="background-image: url('public/images/event/1.jpg');")
										script(type='text/javascript').
											var date = new Date();
											var date1start = new Date(2017, 1, 4, 9, 0);
											var date1end = new Date(2017, 1, 5, 9, 0);
											$('#event1Time').html(CountDown(date1start, date1end));
											var date2start = new Date(2017, 1, 1, 9, 0);
											var date2end = new Date(2017, 1, 4, 9, 0);
											$('#event2Time').html(CountDown(date2start, date2end));
										#event1Time.time
										.progress
											#progress-event-1.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100', style='width:0%')
												span.percent
													b
														span.count 85
														| %
										.eventInfo.clearfix.border-bottom.p-15.pt-10(style='height: 228px')
											p.mb-10.mt-5
												span.text-uppercase.text-theme-colored
													strong Bệnh viện từ thiện:
												|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.
											ul(style='list-style: none')
												li
													i.fa.fa-calendar
														span(style='margin-left: 10px') 4/2 - 9:00
												li
													i.fa.fa-crosshairs
														span(style='margin-left: 10px') Bệnh viện Nhiệt Đới
											.donate-details
												a.btn.btnEvent(href='#', role='button') Chi tiết
												ul.pull-right.mt-15(style='list-style: none; text-align: right')
													li
														strong Tích lũy:
														span.count 1890000
													li
														strong Mục tiêu:
														|  2.500.000
									.eventItem
										.thumb(style="background-image: url('public/images/event/2.jpg');")
										#event2Time.time
										.progress
											#progress-event-2.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width:0%')
												span.percent
													b
														span.count 100
														| %
										.eventInfo.clearfix.border-bottom.p-15.pt-10(style='height: 228px')
											p.mb-10.mt-5
												span.text-uppercase.text-theme-colored
													strong Thư viện miễn phí:
												|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.
											ul(style='list-style: none')
												li
													i.fa.fa-calendar
														span(style='margin-left: 10px') 1/2 - 9:00
												li
													i.fa.fa-crosshairs
														span(style='margin-left: 10px') Thư viện Thành Phố
											.donate-details
												a.btn.btnEvent(href='#', role='button') Chi tiết
												ul.pull-right.mt-15(style='list-style: none; text-align: right')
													li
														strong Tích lũy:
														span.count 12430000
													li
														strong Mục tiêu:
														|  10.000.000
							// FEATURED NEWS CAROUSEL
							.col-sm-12.col-lg-4.wow.fadeInLeft.animation-delay6
								h4.text-uppercase.featureText Bản tin nổi bật
								.owl-carousel.owl-theme
									.eventItem
										.thumb(style="background-image: url('public/images/news/1.jpg');")
										.time
											| Tổng kết
										.progress
											.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width:100%')
										.eventInfo.clearfix.border-bottom.p-15.pt-10(style='height: 228px')
											p.mb-10.mt-5
												span.text-uppercase.text-theme-colored
													strong Tổng kết chiến dịch Mùa Hè Đen
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo. Lorem ipsum dolor sit amet.
											.news-details
												a.btn.btnEvent(href='#', role='button') Chi tiết
									.eventItem
										.thumb(style="background-image: url('public/images/news/2.jpg');")
										.time
											| Quyên góp
										.progress
											.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width:100%')
										.eventInfo.clearfix.border-bottom.p-15.pt-10(style='height: 228px')
											p.mb-10.mt-5
												span.text-uppercase.text-theme-colored
													strong Thống kê quyên góp tháng 1
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo. Lorem ipsum dolor sit amet.
											.news-details
												a.btn.btnEvent(href='#', role='button') Chi tiết
							// STATS
							.col-sm-12.col-lg-4.wow.fadeInLeft.animation-delay6
								h4.text-uppercase.featureText Tham gia ngay!
								.stats(style='width: 350px')
									.statInfo(style='height: 33%')
										strong Tình nguyện viên
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.
										p(style='text-align: right')
											span
												strong
													span.count 3000000
												b thành viên
										a.btn.btnStat(href='#', role='button') Đăng ký
									.statInfo(style='height: 34%')
										strong Ban tổ chức
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.
										p(style='text-align: right')
											span
												strong
													span.count 15432
												b nhà tổ chức
										a.btn.btnStat(href='#', role='button') Đăng ký
									.statInfo(style='height: 33%')
										strong Đóng góp
										p
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.
										p(style='text-align: right')
											span
												strong
													span.count 12353296000
												b đồng
										a.btn.btnStat(href='#', role='button') Đóng góp
						.row