doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/vendors/jquery/dist/jquery.min.js')
		link(href='/vendors/jquery-ui-1.12.1/jquery-ui.css', rel='stylesheet')
		script(src='/vendors/jquery-ui-1.12.1/jquery-ui.js')
		script(src='/javascripts/layout.js')
	body
		.container.body(style='padding: 0')
			.main_container
				.col-md-3.left_col.menu_fixed
					.left_col.scroll-view
						.navbar.nav_title(style='border: 0;')
							a.site_title(href='../')
								i.fa.fa-paw
								span Charity Project
						.clearfix
						// menu profile quick info
						.profile.clearfix
							.profile_info(style='text-align: center; width: 100%')
								img#sidebarUserImage(src='', alt='', style='width: 50px;height: 50px;border-radius: 50%;margin-right: 10px;')
								br
								span
									| Welcome, 
									span(id='usernameCookie', style='color: white')
						// /menu profile quick info
						br
						#sidebar-menu.main_menu_side.hidden-print.main_menu
							.menu_section
								ul#sidebar_menu.nav.side-menu
									li
										a(href='/')
											i.fa.fa-home
											| Index
									li
										a(href='/events/list')
											i.fa.fa-heart
											| Events
									li
										a(href='/users/list')
											i.fa.fa-user-secret
											| Producers / Sponsors
									li
										a(href='/posts')
											i.fa.fa-newspaper-o
											| News / Board
				.top_nav(style="position:relative;z-index:1000")
					.nav_menu
						nav
							.nav.toggle
								a#menu_toggle
									i.fa.fa-bars
							ul.nav.navbar-nav.navbar-right#nav-bar-ul
								li
									a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
										img#layoutUserImage(src='', alt='')
										span(id="usernameCookieNav")
										span.fa.fa-angle-down
									ul.dropdown-menu.dropdown-usermenu.pull-right
										li
											a(href='/my')  Profile
										li
											a(href='javascript:;')
												span.badge.bg-red.pull-right 50%
												span Settings
										li
											a(href='javascript:;') Help
										li
											a(href='#' onclick='signOut()')
												i.fa.fa-sign-out.pull-right
												|  Log Out	
								li#notiBar.dropdown(role="presentation")
				block content
				footer(style="background-color:#2A3F54; color:white")
					hr
					.col-md-4.col-sm-4.col-xs-12
					.col-md-4.col-sm-4.col-xs-12
						br
						h3 Contact Us
						p(style="margin-left:20px")
							i.fa.fa-user &nbsp;&nbsp;
							| Nguyễn Lê Quốc Huy
						p(style="margin-left:20px")
							i.fa.fa-home &nbsp;&nbsp;
							| 353 Nguyễn Xí, Q.Bình Thạnh, TP.HCM
						p(style="margin-left:20px")
							i.fa.fa-phone &nbsp;&nbsp;
							| 083.8653163
						br						
						div(style="text-align:right")
							| Copyright@2017 All rights reserved
						br
						br
					.col-md-4.col-sm-4.col-xs-12(style="text-align:right")
						br
						