extends layout

block content
	doctype html
	html(lang='en')
		head
			meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
			// Meta, title, CSS, favicons, etc.
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title Charity Project | User List
			// Bootstrap
			link(href='../vendors/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// NProgress
			link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
			// iCheck
			link(href='../vendors/iCheck/skins/flat/green.css', rel='stylesheet')
			// bootstrap-progressbar
			link(href='../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
			// JQVMap
			link(href='../vendors/jqvmap/dist/jqvmap.min.css', rel='stylesheet')
			// bootstrap-daterangepicker
			link(href='../vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// jQuery
			script(src='../vendors/jquery/dist/jquery.min.js')
			// Custom Theme Style
			link(href='../build/css/custom.min.css', rel='stylesheet')
			// UserList.js
			script(src='/javascripts/user_list.js')
			style.
				li :hover {
				cursor: pointer;
				}
				.action-col {
				width:1%;
				}
		body.nav-md
			.right_col(role='main')
				// top tiles
				.row.page-title
					.title(style='margin: 10px')
						h1 Users
				br
				br
				.container
					.row.tile_count
						ul.nav.nav-tabs
							li.active.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#pendingUsers')
									.tileA
										.tile_stats_count(style='padding-top: 10px;')
											span.count_top
												i.fa.fa-thumbs-o-down
												|  Promotion Pending Users
											#countPendingUsers.count 135
											span.count_bottom
												i.green
													i.fa.fa-sort-desc
													| 12%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#admins')
									.tileA
										.tile_stats_count(style='padding-top: 10px;')
											span.count_top
												i.fa.fa-child
												|  Total Admins
											#countAdmins.count 5
											span.count_bottom
												i.green
													i.fa.fa-sort-desc
													| 12%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#users')
									.tileA
										.tile_stats_count(style='padding-top: 10px;')
											span.count_top
												i.fa.fa-bar-chart
												|  Total Users
											#countUsers.count 10000
											span.count_bottom
												i.green 4% 
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#producers')
									.tileA
										.tile_stats_count(style='padding-top: 10px;')
											span.count_top
												i.fa.fa-spinner.fa-pulse
												|  Total Producers
											#countProducers.count 100
											span.count_bottom
												i.green
													i.fa.fa-sort-asc
													| 34%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#sponsors')
									.tileA
										.tile_stats_count(style='padding-top: 10px;')
											span.count_top
												i.fa.fa-thumbs-o-up
												|  Total Sponsors
											#countSponsors.count 45
											span.count_bottom
												i.green
													i.fa.fa-sort-asc
													| 34%
												|  From last Week
							li.col-md-2.col-sm-4.col-xs-12
								a.count-tab(data-toggle='tab', href='#banned')
									.tileA
										.tile_stats_count(style='padding-top: 10px;')
											span.count_top
												i.fa.fa-close
												|  Banned Users
											#countBanned.count.red 1
											span.count_bottom
												i.red
													i.fa.fa-sort-asc
													| 34%
												|  From last Week
					.tab-content
						#pendingUsers.tab-pane.fade.in.active
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											| Pending Users 
											small (sub-title)
									.clearfix
								.x_content
									table#tablePendingUsers.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th.action-col #
												th.action-col Action
												th User
												th Full Name
												th Position Promotion
												th Company Name
												th Email
												th Phone
												th Address
												th Date Joined
										tbody
											tr
												td(style='margin:10px') 1
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
															span.glyphicon.glyphicon-ok
														a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
															span.glyphicon.glyphicon-remove
												td JohnDoe
												td John Doe
												td Producer
												td The Doe Corps.
												td huynlqse61661@fpt.edu.vn
												td 09195924629
												td Bitexco Tower, HCMC
												td 2/2/2017
											tr
												td(style='margin:10px') 2
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
															span.glyphicon.glyphicon-ok
														a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
															span.glyphicon.glyphicon-remove
												td KathyRain
												td Kathy Rain
												td Sponsor
												td KathyKathy Corps.
												td kathyrain@kathykathy.com
												td 0914728491
												td Ben Thanh, HCMC
												td 15/2/2017
											tr
												td(style='margin:10px') 3
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Approve', href='#')
															span.glyphicon.glyphicon-ok
														a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Disapprove', href='#')
															span.glyphicon.glyphicon-remove
												td SomeDude
												td Dude Troublesome
												td Admin
												td
												td somedude@dude.com
												td 0913492401
												td Nha Be, HCMC
												td 19/2/2017
						#admins.tab-pane.fade
							.row
								.col-md-8.col-sm-8.col-xs-12
									.col-md-12.col-sm-12.col-xs-12
										.col-md-6
											h3
												| Admins 
												small (sub-title)
										.clearfix
									.x_content
										table#tableAdmins.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
											thead
												tr
													th.action-col #
													th.action-col Action
													th User
													th Email
											tbody												
								.col-md-4.col-sm-4.col-xs-12(style='padding-left: 20px')
									form.form-horizontal.form-label-left
										h3(style='margin-left: 50px') Admin Creator
										.form-group
											label.control-label.col-md-3.col-sm-3.col-xs-12
												| Username 
												span.required *
											.col-md-9.col-sm-9.col-xs-12
												input#txtAdminUsername.form-control.col-md-7.col-xs-12(type='text', required='required')
										.form-group
											label.control-label.col-md-3.col-sm-3.col-xs-12
												| Password 
												span.required *
											.col-md-9.col-sm-9.col-xs-12
												input#txtAdminPassword.form-control.col-md-7.col-xs-12(type='password', required='required')
										.form-group
											label.control-label.col-md-3.col-sm-3.col-xs-12
												| Email 
												span.required *
											.col-md-9.col-sm-9.col-xs-12
												input#txtAdminEmail.form-control.col-md-7.col-xs-12(type='text', required='required')										
										.row
											.col-md-5.col-sm-5
											.col-md-4.col-sm-4.col-xs-12
												a.btn.btn-info.col-xs-12(onclick='createAdmin()') Create >>
						#users.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											| Users 
											small (sub-title)
									.clearfix
								.x_content
									table#tableUsers.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th.action-col #
												th.action-col Action
												th User
												th Role
												th Full Name
												th Email
												th Phone
												th Address
												th Date Joined
										tbody
											tr
												td(style='margin:10px') 1
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Ban', href='#')
															span.glyphicon.glyphicon-remove
												td GreatGrand
												td Producer
												td Grand Great
												td ggrand@gmail.com
												td 0911234326
												td 123 Tran Hung Dao, HCMC
												td 1/2/2017
						#producers.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											| Producers 
											small (sub-title)
									.clearfix
								.x_content
									table#tableProducers.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th.action-col #
												th.action-col Action
												th User
												th Full Name
												th Email
												th Phone
												th Address
												th Past Events
												th Upcoming Events
												th Date Joined
										tbody
											tr
												td(style='margin:10px') 1
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Ban', href='#')
															span.glyphicon.glyphicon-remove
												td BarbieLoli 
												td Dolly Heath
												td dllhth@gmail.com
												td 0909090909
												td 65 Le Thai Tong, HCMC
												td 1
												td 2
												td 14/1/2017
						#sponsors.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											| Sponsors 
											small (sub-title)
									.clearfix
								.x_content
									table#tableSponsors.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th.action-col #
												th.action-col Action
												th User
												th Full Name
												th Company Name
												th Email
												th Phone
												th Address
												th Events Donated
												th Donations
												th Date Joined
										tbody
											tr
												td(style='margin:10px') 1
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-danger.btn-xs(data-toggle='tooltip', title='Ban', href='#')
															span.glyphicon.glyphicon-remove
												td HGates
												td Heather Gates
												td Silent Inc.
												td hgates@gmail.com
												td 0916666666
												td 12 No Trang Long, HCMC
												td 3
												td 15.000.000
												td 14/1/2017
						#banned.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											| Banned Users 
											small (sub-title)
									.clearfix
								.x_content
									table#tableBannedUsers.table.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th.action-col #
												th.action-col Action
												th User
												th Role
												th Full Name												
												th Email
												th Phone
												th Address
												th Ban Reason
												th Date Joined
										tbody
											tr
												td(style='margin:10px') 1
												td
													center
														a.btn.btn-info.btn-xs(data-toggle='tooltip', title='Details', href='#')
															span.glyphicon.glyphicon-search
														a.btn.btn-success.btn-xs(data-toggle='tooltip', title='Unban', href='#')
															span.glyphicon.glyphicon-ok
												td Banned
												td Producer
												td Banned Guy												
												td bannedmail@gmail.com
												td 091123412
												td 12 Street, HCMC
												td Spamming
												td 1/1/2017
				// /page content
				// footer content
				footer
					.pull-right
						| Gentelella - Bootstrap Admin Template by 
						a(href='https://colorlib.com') Colorlib
					.clearfix
				// /footer content
			// jQuery
			script(src='../vendors/jquery/dist/jquery.min.js')
			// Bootstrap
			script(src='../vendors/bootstrap/dist/js/bootstrap.min.js')
			// FastClick
			script(src='../vendors/fastclick/lib/fastclick.js')
			// NProgress
			script(src='../vendors/nprogress/nprogress.js')
			// Chart.js
			script(src='../vendors/Chart.js/dist/Chart.min.js')
			// gauge.js
			script(src='../vendors/gauge.js/dist/gauge.min.js')
			// bootstrap-progressbar
			script(src='../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
			// iCheck
			script(src='../vendors/iCheck/icheck.min.js')
			// Skycons
			script(src='../vendors/skycons/skycons.js')
			// Flot
			script(src='../vendors/Flot/jquery.flot.js')
			script(src='../vendors/Flot/jquery.flot.pie.js')
			script(src='../vendors/Flot/jquery.flot.time.js')
			script(src='../vendors/Flot/jquery.flot.stack.js')
			script(src='../vendors/Flot/jquery.flot.resize.js')
			// Flot plugins
			script(src='../vendors/flot.orderbars/js/jquery.flot.orderBars.js')
			script(src='../vendors/flot-spline/js/jquery.flot.spline.min.js')
			script(src='../vendors/flot.curvedlines/curvedLines.js')
			// DateJS
			script(src='../vendors/DateJS/build/date.js')
			// JQVMap
			script(src='../vendors/jqvmap/dist/jquery.vmap.js')
			script(src='../vendors/jqvmap/dist/maps/jquery.vmap.world.js')
			script(src='../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
			// bootstrap-daterangepicker
			script(src='../vendors/moment/min/moment.min.js')
			script(src='../vendors/bootstrap-daterangepicker/daterangepicker.js')
			// Datatables
			script(src='../vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='../vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='../vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='../vendors/jszip/dist/jszip.min.js')
			script(src='../vendors/pdfmake/build/pdfmake.min.js')
			script(src='../vendors/pdfmake/build/vfs_fonts.js')
			// Custom Theme Scripts
			script(src='../build/js/custom.min.js')

