extends layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title About | Charity / Non-profit responsive Bootstrap HTML5 template
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='/guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='/guest_page/css/font-awesome.min.css')
			// Template main Css
			link(rel='stylesheet', href='/guest_page/css/style.css')
			// Modernizr
			script(src='/guest_page/js/modernizr-2.6.2.min.js')
		body
			.row(style="height:80px")
			.page-heading.text-center
				.container.zoomIn.animated
					h1.page-title
						span#header ABOUT US 
						span.title-under
					p.page-description
						span#header-desc
			.main-container
				.container
					.row.fadeIn.animated
						.col-md-6
							img.img-responsive(src='/guest_page/images/about-us.jpg', alt='')
						.col-md-6
							h2.title-style-2
								span#header-about ABOUT CCMA
								span.title-under
							p#about-desc				
					// /.about-us
					br
					.row.our-team.animate-onscroll.fadeIn
						.container
							h2.title-style-1
								span#header-team Our Team 
								span.title-under
							.row
								.col-md-3.col-sm-6.col-xs-6(style="margin: 20px 0;float: none;margin: 0 auto;")
									.team-member
										.thumnail
											img.cause-img(src='/images/system/default_user.jpg', alt='')
										h4.member-name
											a(href='#') Nguyễn Lê Quốc Huy
										.member-position
											| FOUNDER
										.btn-holder(style="position:inherit")
											a.btn(href='#')
												i.fa.fa-envelope
											a.btn(href='#')
												i.fa.fa-phone
											a.btn(href='#')
												i.fa.fa-facebook
									// /.team-member
							.row
								.col-md-3.col-sm-6.col-xs-6(style="margin: 20px 0")
									.team-member
										.thumnail
											img.cause-img(src='/images/system/default_user.jpg', alt='')
										h4.member-name
											a(href='#') Phạm Đức Nguyên
										.member-position
											| CO-FOUNDER
										.btn-holder(style="position:inherit")
											a.btn(href='#')
												i.fa.fa-envelope
											a.btn(href='#')
												i.fa.fa-phone
											a.btn(href='#')
												i.fa.fa-facebook
									// /.team-member
								.col-md-3.col-sm-6.col-xs-6(style="margin: 20px 0")
									.team-member
										.thumnail
											img.cause-img(src='/images/system/default_user.jpg', alt='')
										h4.member-name
											a(href='#') Lê Minh Khuê
										.member-position
											| CO-FOUNDER
										.btn-holder(style="position:inherit")
											a.btn(href='#')
												i.fa.fa-envelope
											a.btn(href='#')
												i.fa.fa-phone
											a.btn(href='#')
												i.fa.fa-facebook
									// /.team-member							
								.col-md-3.col-sm-6.col-xs-6(style="margin: 20px 0")
									.team-member
										.thumnail
											img.cause-img(src='/images/system/default_user.jpg', alt='')
										h4.member-name
											a(href='#') Trương Trọng Minh Khuyên
										.member-position
											| CO-FOUNDER
										.btn-holder(style="position:inherit")
											a.btn(href='#')
												i.fa.fa-envelope
											a.btn(href='#')
												i.fa.fa-phone
											a.btn(href='#')
												i.fa.fa-facebook
									// /.team-member
								.col-md-3.col-sm-6.col-xs-6(style="margin: 20px 0")
									.team-member
										.thumnail
											img.cause-img(src='/images/system/default_user.jpg', alt='')
										h4.member-name
											a(href='#') Lê Anh Tuấn
										.member-position
											| CO-FOUNDER
										.btn-holder(style="position:inherit")
											a.btn(href='#')
												i.fa.fa-envelope
											a.btn(href='#')
												i.fa.fa-phone
											a.btn(href='#')
												i.fa.fa-facebook
									// /.team-member
					br
					.row.fadeIn.animated
						.col-md-7
							h2.title-style-2
								span#header-you YOU CAN HELP US!
								span.title-under
							p#you-desc
							hr
							.row
								.col-md-4.col-xs-12(style="text-align: center")
									div(style="background-color: #1f76bd; padding: 20px")
										strong#volunteer-desc(style="color:white")
											| Become a volunteer and join us through the heart-warming helping-hand events!
										hr
										a.btn.btn-primary(href="/events_list")
											strong#volunteer-btn Check Events
								.col-md-4.col-xs-12(style="text-align: center")
									div(style="background-color: #1f76bd; padding: 20px")
										strong#sponsor-desc(style="color:white")
											| Provide better funds for better good by becoming our sponsors!
										hr
										a.btn.btn-primary(href="/promote")
											strong#sponsor-btn Promote!
								.col-md-4.col-xs-12(style="text-align: center")
									div(style="background-color: #1f76bd; padding: 20px")
										strong#producer-desc(style="color:white")
											| Help us create your very own charity events as our producers!
										hr
										a.btn.btn-primary(href="/promote")
											strong#producer-btn Promote!
						.col-md-5
							img.img-responsive(style="filter: grayscale(100%);" src='/guest_page/images/about-us-2.jpg', alt='')										
			// jQuery
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="/guest_page/js/jquery-1.11.1.min.js"><\\/script>')
			// Bootsrap javascript file
			script(src='/guest_page/js/bootstrap.min.js')
			// Template main javascript
			script(src='/guest_page/js/main.js')
			script(src='/guest_page/js/about.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
