doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')		
		link(href='/vendors/jquery-ui-1.12.1/jquery-ui.css', rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='/vendors/jquery-ui-1.12.1/jquery-ui.js')
		script.
			window.jQuery || document.write('<script src="/guest_page/js/jquery-1.11.1.min.js"><\\/script>')		
		// Boostrap Social
		link(rel='stylesheet', href='../guest_page/css/bootstrap-social.css')			
		// Socket.io
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/global.js')		
		script(src='/guest_page/js/lang.js')
		script(src='/guest_page/js/layout.js')
		// Countdown JS
		script(src='/vendors/countdown/countdown.js')			
		script.
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=404393089920980";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

	body		
		header.main-header
				nav.navbar.navbar-static-top.navbar-inverse(data-spy="affix")
					.navbar-top
						.container
							.row.navbar-top
								.col-sm-6.col-xs-12
									ul.list-unstyled.list-inline.header-contact
										li
											i.fa.fa-phone&nbsp;&nbsp;
											a(href='tel:') 091 959 4629
										li
											i.fa.fa-envelope&nbsp;&nbsp;
											a(href='mailto:huynlqse61661@fpt.edu.vn') huynlqse61661@fpt.edu.vn
									// /.header-contact
								.col-sm-6.col-xs-12.text-right
									ul#navbar.list-unstyled.list-inline.navbar-collapse.collapse
										li#welcome
											| Xin chào, quý khách
										li
											| |
										li#languageBar
										li
											| |
										li
											a#login Đăng nhập
									// /.header-social
					.navbar-main
						.container
							.navbar-header
								button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href='/')
									img(src='/guest_page/images/ccma-logo.png', alt='', style='height: 38px; marign-bot: 5px')
							.navbar-collapse.collapse.pull-right
								ul#navbar-below.nav.navbar-nav
									li
										a#navbar-home(href='/')
									li
										a#navbar-about(href='/about')
									li
										a#navbar-events(href='/events_list')
									li
										a#navbar-news(href='/news_list')
									li
										a#navbar-board(href='/community_board')
									li
										a#navbar-sponsors(href='/sponsors_list')
							// /#navbar
						// /.container
					// /.navbar-main
			// /. main-header
		block content
		// Log in dialog
		#dialog-message(title='Title')
		#login-form(title='Log In', style="display: none; padding: 30px 50px")
			.row(style="text-align:center; color: red")
				p#errLoginMsg
			form(onsubmit="login()")
				fieldset
					.row.form-group
						.col-md-12.col-sm-12.col-xs-12
							input#txtLoginUsername.form-username.form-control.col-md-7.col-xs-12(type='text', required='required')
					.row.form-group
						.col-md-12.col-sm-12.col-xs-12
							input#txtLoginPassword.form-password.form-control.col-md-7.col-xs-12(type='password', required='required')
					hr
					.row.form-group
						input#btnLogin.btn.btn-info.col-md-6.col-sm-6.col-xs-6(type="submit")
						div.col-md-6.col-sm-6.col-xs-6(style="text-align:center;")
							a#btnShowRegister.btn(onclick="showRegister()", style="cursor:pointer; background-color:none; text-decoration: underline;")
					.row.form-group
						.col-xs-12
							a.btn.btn-block.btn-social.btn-facebook(href="http://localhost:3000/auth/facebook")
								span.fa.fa-facebook(style="color: white")
								span(style="color: white") Sign in with Facebook
						.col-xs-12
							a.btn.btn-block.btn-social.btn-twitter(href="http://localhost:3000/auth/twitter")
								span.fa.fa-twitter(style="color: white")
								span(style="color: white") Sign in with Twitter
		// Register dialog
		#register-form(title='Register', style="display: none; padding: 30px 50px")
			.row(style="text-align:center; color: red")
				p#errRegisterMsg
			form(onsubmit="register()")
				fieldset
					.row.form-group
						.col-md-12.col-sm-12.col-xs-12
							input#txtRegisterUsername.form-username.form-control.col-md-7.col-xs-12(type='text', required='required')
					.row.form-group
						.col-md-12.col-sm-12.col-xs-12
							input#txtRegisterEmail.form-email.form-control.col-md-7.col-xs-12(type='text', required='required')
					.row.form-group
						.col-md-12.col-sm-12.col-xs-12
							input#txtRegisterPassword.form-password.form-control.col-md-7.col-xs-12(type='password', required='required')
					hr
					.row.form-group
						input#btnRegister.btn.btn-info.col-md-6.col-sm-6.col-xs-6(type="submit")
						div.col-md-6.col-sm-6.col-xs-6(style="text-align:center;")
							a#btnShowLogin.btn(onclick="showLogin()", style="cursor:pointer; background-color:none; text-decoration: underline;")
					.row.form-group
						.col-xs-12
							a.btn.btn-block.btn-social.btn-facebook(href="http://localhost:3000/auth/facebook")
								span.fa.fa-facebook(style="color: white")
								span(style="color: white") Sign in with Facebook
						.col-xs-12
							a.btn.btn-block.btn-social.btn-twitter(href="http://localhost:3000/auth/twitter")
								span.fa.fa-twitter(style="color: white")
								span(style="color: white") Sign in with Twitter
		#alert_placeholder
		#noti_placeholder
		footer.main-footer
			.footer-top
			.footer-main
				.container
					.row
						.col-md-4
							.footer-col
								h4.footer-title
									span#about-us Giới thiệu
									span.title-under
								#about-us-desc.footer-content
									p
										strong VEP 
										| là cổng thông tin sự kiện từ thiện với mục đích phi lợi nhuận nhằm kết nối tài trợ và tình nguyện viên, tạo cầu nối tin tưởng lẫn nhau để giúp đỡ các nhà tổ chức tổ chức sự kiện hiệu quả hơn.
									p
										| Đội ngũ nhân lực bao gồm năm sinh viên đại học cùng nhau góp sức vì một cộng đồng giàu tình thương và nhân ái.
						.col-md-4
						.col-md-4
							.footer-col
								h4.footer-title
									| FACEBOOK
									span.title-under
								.footer-content
									.fb-page(data-href='https://www.facebook.com/Charity-Campaign-Management-Application-1447894185243820', data-width='380', data-hide-cover='false', data-show-facepile='false', data-show-posts='false')
										blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/Charity-Campaign-Management-Application-1447894185243820/')
											a(href='https://www.facebook.com/Charity-Campaign-Management-Application-1447894185243820/') CCMA
						.clearfix
			.footer-bottom
				.container.text-right
					| Sadaka @ copyrights 2017 - by numbuh1		
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=164484687312690";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));