doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/vendors/jquery/dist/jquery.min.js')
		link(href='/vendors/jquery-ui-1.12.1/jquery-ui.css', rel='stylesheet')
		script(src='/vendors/jquery-ui-1.12.1/jquery-ui.js')
		script(src='/javascripts/global.js')		
		script(src='/guest_page/js/lang.js')
		script(src='/guest_page/js/layout.js')		
		// Countdown JS
		script(src='/vendors/countdown/countdown.js')
	body
		header.main-header
				nav.navbar.navbar-static-top.navbar-inverse(data-spy="affix")
					.navbar-top
						.container
							.row.navbar-top
								.col-sm-6.col-xs-12
									ul.list-unstyled.list-inline.header-contact
										li
											i.fa.fa-phone&nbsp;&nbsp;
											a(href='tel:') 091 959 4629
										li
											i.fa.fa-envelope&nbsp;&nbsp;
											a(href='mailto:huynlqse61661@fpt.edu.vn') huynlqse61661@fpt.edu.vn
									// /.header-contact
								.col-sm-6.col-xs-12.text-right
									ul#navbar.list-unstyled.list-inline.navbar-collapse.collapse
										li
											| Xin chào, quý khách
										li
											| |
										li
											a(href="/login") Đăng nhập
									// /.header-social
					.navbar-main
						.container
							.navbar-header
								button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href='/')
									img(src='/guest_page/images/sadaka-logo.png', alt='')
							.navbar-collapse.collapse.pull-right
								ul#navbar-below.nav.navbar-nav
									li
										a(href='/') TRANG CHỦ
									li
										a(href='/about') GIỚI THIỆU
									li
										a(href='/events_list') SỰ KIỆN
									li
										a(href='/news_list') BẢN TIN
									li
										a(href='/sponsors_list') TÀI TRỢ
									li
										a(href='gallery.html') GALLERY
									li
										a(href='contact.html') LIÊN HỆ
							// /#navbar
						// /.container
					// /.navbar-main
			// /. main-header
		block content
		footer.main-footer
			.footer-top
			.footer-main
				.container
					.row
						.col-md-4
							.footer-col
								h4.footer-title
									| Giới thiệu
									span.title-under
								.footer-content
									p
										strong VEP 
										| là cổng thông tin sự kiện từ thiện với mục đích phi lợi nhuận nhằm kết nối tài trợ và tình nguyện viên, tạo cầu nối tin tưởng lẫn nhau để giúp đỡ các nhà tổ chức tổ chức sự kiện hiệu quả hơn.
									p
										| Đội ngũ nhân lực bao gồm năm sinh viên đại học cùng nhau góp sức vì một cộng đồng giàu tình thương và nhân ái.
						.col-md-4
							.footer-col
								h4.footer-title
									| Đội ngũ
									span.title-under
								.footer-content
									ul.tweets.list-unstyled
										li.tweet
											i.fa.fa-user&nbsp;&nbsp;
											| Nguyễn Lê Quốc Huy
											br
											i.fa.fa-envelope&nbsp;&nbsp;
											a(href="mailto:huynlqse61661@fpt.edu.vn") huynlqse61661@fpt.edu.vn
										li.tweet
											i.fa.fa-user&nbsp;&nbsp;
											| Phạm Đức Nguyên
											br
											i.fa.fa-phone&nbsp;&nbsp;
											a(href="mailto:nguyenpdse61435@fpt.edu.vn") nguyenpdse61435@fpt.edu.vn
						.col-md-4
							.footer-col
								h4.footer-title
									| Liên hệ
									span.title-under
								.footer-content
									.footer-form
										.footer-form
											form.ajax-form(action='php/mail.php')
												.form-group
													input.form-control(type='text', name='name', placeholder='Tên', required='')
												.form-group
													input.form-control(type='email', name='email', placeholder='Địa chỉ', required='')
												.form-group
													textarea.form-control(name='message', placeholder='Lời nhắn', required='')
												.form-group.alerts
													.alert.alert-success(role='alert')
													.alert.alert-danger(role='alert')
												.form-group
													button.btn.btn-submit.pull-right(type='submit') Gửi
						.clearfix
			.footer-bottom
				.container.text-right
					| Sadaka @ copyrights 2017 - by numbuh1