extends layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title Causes | Charity / Non-profit responsive Bootstrap HTML5 template
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='guest_page/css/font-awesome.min.css')
			// PrettyPhoto
			link(rel='stylesheet', href='guest_page/css/prettyPhoto.css')
			// Template main Css
			link(rel='stylesheet', href='guest_page/css/style.css')
			// Modernizr
			script(src='guest_page/js/modernizr-2.6.2.min.js')
		body
			// /. main-header
			.row(style="height:80px")
			.page-heading.text-center
				.container.zoomIn.animated
					h1.page-title
						| OUR EVENTS 
						span.title-under
					p.page-description
						| Give us a hand and join our voluntary events below.
			.main-container
				.our-causes.fadeIn.animated
					.container
						#listEvents
				// /.our-causes
			// /.main-containe
			// Donate Modal
			#donateModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='donateModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
							h4#donateModalLabel.modal-title DONATE NOW
						.modal-body
							form.form-donation
								h3.title-style-1.text-center
									| Thank you for your donation 
									span.title-under
								.row
									.form-group.col-md-12
										input#amount.form-control(type='text', placeholder='AMOUNT(€)')
								.row
									.form-group.col-md-6
										input.form-control(type='text', name='firstName', placeholder='First name*')
									.form-group.col-md-6
										input.form-control(type='text', name='lastName', placeholder='Last name*')
								.row
									.form-group.col-md-6
										input.form-control(type='text', name='email', placeholder='Email*')
									.form-group.col-md-6
										input.form-control(type='text', name='phone', placeholder='Phone')
								.row
									.form-group.col-md-12
										input.form-control(type='text', name='address', placeholder='Address')
								.row
									.form-group.col-md-12
										textarea.form-control(cols='30', rows='4', name='note', placeholder='Additional note')
								.row
									.form-group.col-md-12
										button.btn.btn-primary.pull-right(type='submit', name='donateNow') DONATE NOW
			// /.modal
			// jQuery
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="guest_page/js/jquery-1.11.1.min.js"><\\/script>')
			// Bootsrap javascript file
			script(src='guest_page/js/bootstrap.min.js')
			// PrettyPhoto javascript file
			script(src='guest_page/js/jquery.prettyPhoto.js')
			// Google map
			script(src='http://maps.google.com/maps/api/js?sensor=false&libraries=places', type='text/javascript')
			// Template main javascript
			script(src='guest_page/js/list_events.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
