extends layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title Promote Page
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='/guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='/guest_page/css/font-awesome.min.css')
			// PrettyPhoto
			link(rel='stylesheet', href='/guest_page/css/prettyPhoto.css')
			// Datatables
			link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// Owl carousel
			link(rel='stylesheet', href='/guest_page/css/owl.carousel.css')
			// Template main Css
			link(rel='stylesheet', href='/guest_page/css/style.css')
			// Modernizr
			script(src='/guest_page/js/modernizr-2.6.2.min.js')
		body			
			.row(style="height:80px")
			.page-heading.text-center
				.container.zoomIn.animated
					h1.page-title(style="text-transform: uppercase;")
						span#header Promote
						span.title-under
					p.page-description
						span#header-desc Join us for the better good
			.main-container
				.container
					.row
						h2.title-style-1
							span#header-terms TERMS AND CONDITIONS
							span.title-under
						.row
							div(style="background-color: #f1f1f1; height: 500px; overflow: auto; padding: 10px; border: solid 1px #6b91ab;")
								h2 Giới thiệu
								p Các Điều khoản và Điều kiện Chuẩn Trang web này được viết trên trang web này sẽ quản lý việc bạn sử dụng trang web này. Những Điều khoản này sẽ được áp dụng đầy đủ và ảnh hưởng đến việc bạn sử dụng Website này. Bằng cách sử dụng Trang Web này, bạn đã đồng ý chấp nhận tất cả các điều khoản và điều kiện ghi tại đây. Bạn không được sử dụng trang web này nếu bạn không đồng ý với bất kỳ Điều khoản và Điều kiện Tiêu chuẩn Trang web nào.

								p Người chưa thành niên hoặc người dưới 18 tuổi không được sử dụng trang web này.

								p Quyền sở hữu trí tuệ
								p Ngoài các nội dung bạn sở hữu, theo các Điều khoản này và / hoặc người cấp phép sở hữu tất cả các quyền sở hữu trí tuệ và các tài liệu có trong Website này.

								p Bạn chỉ được cấp giấy phép có giới hạn cho mục đích xem nội dung trên trang web này.

								h2 Hạn chế
								p Bạn bị hạn chế cụ thể từ tất cả những điều sau

								ul
									li Xuất bản bất kỳ tài liệu Trang web trong bất kỳ phương tiện truyền thông khác;
									li Bán, cấp phép lại và / hoặc thương mại hóa bất kỳ tài liệu Website;
									li Thực hiện công khai và / hoặc hiển thị bất kỳ tài liệu Website;
									li Sử dụng Website này dưới bất kỳ hình thức nào có thể hoặc có thể gây tổn hại cho Website này;
									li Sử dụng Website này dưới bất kỳ hình thức nào ảnh hưởng đến việc người dùng truy cập vào Website này;
									li Sử dụng trang web này trái với luật pháp và các quy định hiện hành, hoặc dưới bất kỳ hình thức nào có thể gây hại cho Website, hoặc cho bất kỳ cá nhân hoặc tổ chức kinh doanh;
									li Tham gia vào bất kỳ khai thác dữ liệu, thu thập dữ liệu, trích xuất dữ liệu hoặc bất kỳ hoạt động tương tự khác liên quan đến trang web này;
									li Sử dụng trang web này để tham gia vào bất kỳ quảng cáo hoặc tiếp thị.

								p Một số khu vực nhất định của Website này bị hạn chế không cho phép bạn truy cập và có thể hạn chế truy cập của bạn vào bất kỳ khu vực nào của Website này vào bất kỳ lúc nào theo quyết định tuyệt đối. Bất kỳ ID người dùng và mật khẩu nào mà bạn có thể có cho Website này đều được bảo mật và bạn cũng phải duy trì tính bảo mật.

								h2 Nội dung của bạn
								p Trong các Điều khoản và Điều kiện Chuẩn Trang web này, "Nội dung của Bạn" có nghĩa là bất kỳ âm thanh, video văn bản, hình ảnh hoặc tài liệu nào bạn chọn để hiển thị trên Website này. Bằng cách hiển thị nội dung của bạn, bạn cấp một giấy phép không độc quyền, không thể huỷ ngang trên toàn thế giới, có thể cấp phép phụ để sử dụng, tái sản xuất, điều chỉnh, xuất bản, dịch và phân phối nó trong bất kỳ và tất cả các phương tiện truyền thông.

								p Nội dung của bạn phải là của riêng bạn và không được xâm phạm quyền của bên thứ ba. Có quyền loại bỏ bất kỳ Nội dung nào của bạn khỏi trang web này bất cứ lúc nào mà không cần thông báo.

								h2 Không có bảo đảm
								p Trang web này được cung cấp "theo nghĩa là", với tất cả các lỗi, và không có đại diện hoặc bảo đảm, dưới bất kỳ hình thức nào liên quan đến trang web này hoặc các tài liệu có trên trang web này. Ngoài ra, không có gì trong Website này sẽ được hiểu như là tư vấn cho bạn.

								p Những điều khoản và điều kiện này đã được tạo ra tại termsandcondiitionssample.com.
					br
					.form-horizontal.form-label-left
						h2.title-style-1
							span#header-companyInfo COMPANY INFORMATION
							span.title-under						
						form(action="/users/updatecompany", method="post", enctype="multipart/form-data", onsubmit="validatePromoteForm();").row
							.col-md-1.col-sm-1
							.col-md-3.col-sm-3.col-xs-12(style='text-align: center')
								img#txtCompanyImageSrc(src='#', alt='Set your company image!', style='height: 150px; max-width: 300px')
								br
								br
								.row										
										input#inputCompanyImage.btn.btn-info.col-md-8.col-sm-8.col-xs-12(type="file", name="displayCompanyImage", accept=".png,.jpg,.jpeg", required='required')
										input#txtImageSrc(type="hidden", name="companyImage")
							.col-md-7.col-sm-7.col-xs-12
								.form-group
									label.control-label.col-md-4.col-sm-4.col-xs-12
										span#form-position Promote Position 
										span.required *
									.col-md-7.col-sm-7.col-xs-12
										select#txtPosition.form-control.col-md-7.col-xs-12(type='text', required='required', name="role")
											option Producer
											option Sponsor												
								.form-group
									label.control-label.col-md-4.col-sm-4.col-xs-12
										span#form-name Company Name 
										span.required *
									.col-md-7.col-sm-7.col-xs-12
										input#txtCompanyName.form-control.col-md-7.col-xs-12(type='text', required='required', name="companyName")
								.form-group
									label.control-label.col-md-4.col-sm-4.col-xs-12
										span#form-address Company Address 
										span.required *
									.col-md-7.col-sm-7.col-xs-12
										input#txtCompanyAddress.form-control.col-md-7.col-xs-12(type='text', required='required', name="companyAddress")
								.form-group
									label.control-label.col-md-4.col-sm-4.col-xs-12
										span#form-email Company Email 
										span.required * 
									.col-md-7.col-sm-7.col-xs-12
										input#txtCompanyEmail.form-control.col-md-7.col-xs-12(type='text', required='required', name="companyEmail")
								.form-group
									label.control-label.col-md-4.col-sm-4.col-xs-12
										span#form-phone Company Phone 
										span.required * 
									.col-md-7.col-sm-7.col-xs-12
										input#txtCompanyPhone.numberField.form-control.col-md-7.col-xs-12(type='text', required='required', name="companyPhoneNumber")
								.form-group
									label.control-label.col-md-4.col-sm-4.col-xs-12
										span#form-website Company Website
									.col-md-7.col-sm-7.col-xs-12
										input#txtWebsite.form-control.col-md-7.col-xs-12(type='text', name="companyWebsite")								
								.form-group(style="text-align:center; margin-top: 10px")
									input#btnAccept(type="checkbox", style="margin-right: 10px", onChange='populateCheckbox()')
									span#accept I Accept The Terms & Agreements
								.form-group
									.col-md-9.col-sm-9.col-xs-12
										button#btnSubmit.btn.btn-info.col-md-3.col-sm-3.col-xs-12(type="submit", style="float: right", disabled="disabled") Submit
			// Bootsrap javascript file
			script(src='/guest_page/js/bootstrap.min.js')
			// PrettyPhoto javascript file
			script(src='/guest_page/js/jquery.prettyPhoto.js')
			// Google map
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			// Datatables
			script(src='../vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='../vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='../vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='../vendors/jszip/dist/jszip.min.js')
			script(src='../vendors/pdfmake/build/pdfmake.min.js')
			script(src='../vendors/pdfmake/build/vfs_fonts.js')
			// Countdown JS
			script(src='/vendors/countdown/countdown.js')
			// owl carouseljavascript file
			script(src='/guest_page/js/owl.carousel.min.js')
			// Template main javascript
			script(src='/guest_page/js/main.js')
			script(src='/guest_page/js/promote.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
