extends ../guest_page/layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title Single cause | Charity / Non-profit responsive Bootstrap HTML5 template
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='/guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='/guest_page/css/font-awesome.min.css')
			// PrettyPhoto
			link(rel='stylesheet', href='/guest_page/css/prettyPhoto.css')
			// bootstrap-daterangepicker
			link(href='/vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')			
			// Template main Css
			link(rel='stylesheet', href='/guest_page/css/style.css')
			// Modernizr
			script(src='/guest_page/js/modernizr-2.6.2.min.js')
			style.
				.dataTable {
					width: 100% !Important;
				}
		body			
			.row(style="height:80px")
			.page-heading.text-center
				.container.zoomIn.animated
					h1.page-title(style="text-transform: uppercase;")
						span#header Event Creator
						span.title-under
					p.page-description
						span#header-desc Create your very own event with our support!
			.main-container
				.container
					.row#donationPane
						.col-md-12
							h2.title-style-2
								span#header-donation Donation Details
								span.title-under
							form#donationForm(action="javascript:;", onsubmit="addDonation()").form-horizontal.form-label-left
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span.form-donation-item Item
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtDonationItem.form-control.col-md-7.col-xs-12(type='text', required='required')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span.form-donation-unit Unit
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtDonationUnit.form-control.col-md-7.col-xs-12(type='text', required='required')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span.form-donation-quantity Quantity
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtDonationQuantity.form-control.col-md-7.col-xs-12(type='number', min='1', required='required')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span.form-donation-minimum Minimum For Sponsor
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtDonationMinimum.form-control.col-md-7.col-xs-12(type='number', min='0', required='required')
								.form-group
									.col-md-3.col-sm-3.col-xs-12
									.col-md-6.col-sm-6.col-xs-12#donationButtonForm
										button#formDonationAdd.btn.btn-info(type="submit", style="float:right") Add
							table#donationTable.table.table-bordered.table-hover.dt-responsive
								thead
									tr
										th.form-donation-item Item
										th.form-donation-unit Unit
										th.form-donation-quantity Quantity
										th.form-donation-minimum Minimum
										th.form-donation-action Action
					.row
						.col-md-12
							h2.title-style-2
								span#header-activity Activity Details
								span.title-under
							form#activityForm(action="javascript:;", onsubmit="addActivity()").form-horizontal.form-label-left
								input#txtEventId(type='hidden')
								input#txtEventIdEdit(type='hidden', value="#{docs._id}")
								input#txtNumberOfDates(type='hidden', value='0')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span#form-date Date 
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										select#txtActivityDate.form-control.col-md-7.col-xs-12(type='text', required='required')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span#form-time Time 
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtActivityTime.form-control.col-md-7.col-xs-12(type='text', data-inputmask="'mask': '99:99'", required='required')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span#form-place Place 
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtActivityPlace.form-control.col-md-7.col-xs-12(placeholder='', required='required', type='text', autocomplete='on', runat='server')
										input#txtActivityLat(type='hidden')
										input#txtActivityLng(type='hidden')
										#map.col-md-12.col-sm-12.col-xs-12(style='height:200px; margin-top: 20px')
										a#btnTurnOffMap.btn.btn-danger(onclick="turnOffMap()") Turn Off Map
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span#form-activity Activity 
										span.required  *
									.col-md-6.col-sm-6.col-xs-12
										input#txtActivity.form-control.col-md-7.col-xs-12(type='text', required='required')
								.form-group
									label.control-label.col-md-3.col-sm-3.col-xs-12
										span#form-note Note  
									.col-md-6.col-sm-6.col-xs-12
										textarea#txtActivityNote.form-control.resizable_textarea.col-md-7.col-xs-12(style='height: 200px', maxlength="500")
								.form-group
									.col-md-3.col-sm-3.col-xs-12
									.col-md-6.col-sm-6.col-xs-12#activityButtonForm
										button#form-add.btn.btn-info(type="submit", style="float:right") Add
							ul#activityDates.nav.nav-tabs
							#activityContents.tab-content
							br						
							hr
							.row
								.col-md-7.col-sm-7
								.col-md-2.col-sm-2.col-xs-12
									a#formSubmit.btn.btn-info.col-xs-12(href='/events/creator_preview') Continue >>
			// Bootsrap javascript file
			script(src='/guest_page/js/bootstrap.min.js')
			// PrettyPhoto javascript file
			script(src='/guest_page/js/jquery.prettyPhoto.js')
			// Google map
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			// Datatables
			script(src='/vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='/vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='/vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='/vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='/vendors/jszip/dist/jszip.min.js')
			script(src='/vendors/pdfmake/build/pdfmake.min.js')
			script(src='/vendors/pdfmake/build/vfs_fonts.js')			
			// Flot
			script(src='/vendors/Flot/jquery.flot.js')
			script(src='/vendors/Flot/jquery.flot.pie.js')
			script(src='/vendors/Flot/jquery.flot.time.js')
			script(src='/vendors/Flot/jquery.flot.stack.js')
			script(src='/vendors/Flot/jquery.flot.resize.js')
			// bootstrap-daterangepicker
			script(src='	/vendors/moment/min/moment.min.js')
			script(src='	/vendors/bootstrap-daterangepicker/daterangepicker.js')
			// jquery.inputmask
			script(src='	/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
			// DateJS
			script(src='/vendors/DateJS/build/date.js')
			// TinyMCE
			script(src='/vendors/tinymce/tinymce.min.js')
			// Template main javascript
			script(src='/producer_page/js/activity_creator.js')
			script(src='/javascripts/global.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
