extends ../guest_page/layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title Single cause | Charity / Non-profit responsive Bootstrap HTML5 template
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='/guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='/guest_page/css/font-awesome.min.css')
			// PrettyPhoto
			link(rel='stylesheet', href='/guest_page/css/prettyPhoto.css')
			// Datatables
			link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// Ion.RangeSlider
			link(href='../vendors/normalize-css/normalize.css', rel='stylesheet')
			link(href='../vendors/ion.rangeSlider/css/ion.rangeSlider.css', rel='stylesheet')
			link(href='../vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet')
			// Template main Css
			link(rel='stylesheet', href='/guest_page/css/style.css')
			// Modernizr
			script(src='/guest_page/js/modernizr-2.6.2.min.js')
			style.
				.tooltip{ 
				  position:relative;
				  float:right;
				}
				.tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
				.popOver + .tooltip > .tooltip-arrow {  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

				section{
				  margin:100px auto; 
				  height:1000px;
				}
				.progress{
				  border-radius:0;
				  overflow:visible;
				}
				.progress-bar{
				   background:rgb(23,44,60); 
				  -webkit-transition: width 1.5s ease-in-out;
				  transition: width 1.5s ease-in-out;
				}

		body			
			.row(style="height:80px")
			.page-heading.text-center
				.container.zoomIn.animated
					h1.page-title(style="text-transform: uppercase;")#event-title
						span.title-under
					p.page-description
						span#header-desc This is a preview of your event, it's not published yet.
			.main-container
				.container
					.row
						.col-md-8.col-xs-12.fadeIn.animated
							img#eventImage(src='', alt='', style="width:100%")
							.timePane(style="right: 0")
								.month-time.fleft
									span.day.fleft#eventDay
									span.month#eventMonthYear
									br
									span.stime
										strong#eventTime						
						.col-md-4.col-xs-12.fadeIn.animate-onscroll
							h2.title-style-2
								span#header-producer Producer
								span.title-under
							table.table.table-responsive.table-striped
								tbody
									tr
										td(style="text-align: center; vertical-align: middle; width:30%", rowspan="4")
											a#linkCompany(href="#")									
												img#txtCompanyImageSrc(src='', alt='No company image!', style="max-width: 100%")
									tr
										td(style="text-align: right; width: 50px")
											i.fa.fa-user(style="font-weight:bold")  :
										td
											span#txtCompanyName
									tr
										td(style="text-align: right; width: 50px")
											i.fa.fa-envelope(style="font-weight:bold")  :
										td
											span#txtCompanyEmail
									tr
										td(style="text-align: right; width: 50px")
											i.fa.fa-phone(style="font-weight:bold")  :
										td
											span#txtCompanyPhone
							h2.title-style-2
								span#header-location Location
								span.title-under
							p#meetingAddress
							#map(style='height:200px; margin: 0; width: 100%')
					br
					.row.fadeIn.animated(style="margin-top: 70px")
						.barWrapper							
							.progress
								#progress-1.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
									span#tooltip-1.popOver(data-html="true", data-toggle='tooltip', data-placement='top', title='')
								#progress-2.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
									span#tooltip-2.popOver(data-html="true", data-toggle='tooltip', data-placement='top', title='')
								#progress-3.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
									span#tooltip-3.popOver(data-html="true", data-toggle='tooltip', data-placement='top', title='')
								#progress-4.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
									span#tooltip-4.popOver(data-html="true", data-toggle='tooltip', data-placement='top', title='')
								#progress-5.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
									span#tooltip-5.popOver(data-html="true", data-toggle='tooltip', data-placement='top', title='')
					br
					br
					.row.fadeIn.animated
						.col-md-12
							h2.title-style-2
								span#header-description Description
								span.title-under
							p#eventDescription				
					.row
						.col-md-12.col-xs-12.fadeIn.animate-onscroll
							h2.title-style-2
								span#header-activity Activities 
								span.title-under
							div(role='tabpanel')
								#activityPane
					hr
					.row
						.col-md-12.col-xs-12.fadeIn.animate-onscroll
							h2.title-style-2
								span#header-donation Đóng góp 
								span.title-under
						#donationPane.col-md-8.col-xs-12.fadeIn.animate-onscroll
						#requiredDonationPane.col-md-4.col-xs-12.fadeIn.animate-onscroll
					hr
					.row
						.col-md-12.col-xs-12
							.col-md-3
							.col-md-3.col-xs-11
								a#linkEditEvent.btn.btn-info(style="background-color:#1f76bd; width: 100%")
									strong#btnEditEvent << EDIT
							.col-md-3.col-xs-11
								a.btn.btn-info(style="background-color:#1f76bd; width: 100%", onclick="goNext()")
									strong#btnFinishEvent FINISH >>
			// Bootsrap javascript file
			script(src='/guest_page/js/bootstrap.min.js')
			// PrettyPhoto javascript file
			script(src='/guest_page/js/jquery.prettyPhoto.js')
			// Google map
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			// Datatables
			script(src='../vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='../vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='../vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='../vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='../vendors/jszip/dist/jszip.min.js')
			script(src='../vendors/pdfmake/build/pdfmake.min.js')
			script(src='../vendors/pdfmake/build/vfs_fonts.js')
			// Countdown JS
			script(src='../vendors/countdown/countdown.js')
			// Moment.JS
			script(src='../vendors/moment/min/moment.min.js')
			
			// Ion.RangeSlider
			script(src='../vendors/ion.rangeSlider/js/ion.rangeSlider.min.js')
			// Template main javascript
			script(src='/javascripts/global.js')
			script(src='/guest_page/js/main.js')
			script(src='/producer_page/js/event_preview.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
