extends ../guest_page/layout

block content
	doctype html
	html.no-js
		head
			meta(charset='utf-8')
			title Single cause | Charity / Non-profit responsive Bootstrap HTML5 template
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			// Fonts
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
			link(href='http://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet', type='text/css')
			// Bootsrap
			link(rel='stylesheet', href='/guest_page/css/bootstrap.min.css')
			// Font awesome
			link(rel='stylesheet', href='/guest_page/css/font-awesome.min.css')
			// PrettyPhoto
			link(rel='stylesheet', href='/guest_page/css/prettyPhoto.css')
			// bootstrap-daterangepicker
			link(href='/vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')			
			// Template main Css
			link(rel='stylesheet', href='/guest_page/css/style.css')
			// Modernizr
			script(src='/guest_page/js/modernizr-2.6.2.min.js')
		body			
			.row(style="height:100px")
			.main-container
				.container
					.row
						.col-md-12							
							h2.title-style-2
								span#header Update Event
								&nbsp;&nbsp;
								small#eventName
								span.title-under
					.row.tile_count
						ul#tab-pane.nav.nav-tabs
							li.col-md-2.col-sm-6.col-xs-12
								a.count-tab(data-toggle='tab', href='#donations')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-gift&nbsp;&nbsp;
												strong.tab-donation Donations
											#countDonations.count 
							li.col-md-2.col-sm-6.col-xs-12
								a.count-tab(data-toggle='tab', href='#pendingDonations')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-spinner&nbsp;&nbsp;
												strong.tab-pending-donation Pending Donations
											#countPendingDonations.count 
							li.col-md-2.col-sm-6.col-xs-12
								a.count-tab(data-toggle='tab', href='#participants')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-street-view&nbsp;&nbsp;
												strong.tab-participant Participants		
											#countParticipants.count 
							li.col-md-2.col-sm-6.col-xs-12
								a.count-tab(data-toggle='tab', href='#sponsors')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-briefcase&nbsp;&nbsp;
												strong.tab-sponsor Sponsors
											#countSponsors.count 
							li.col-md-2.col-sm-6.col-xs-12
								a.count-tab(data-toggle='tab', href='#costs')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-money&nbsp;&nbsp;
												strong.tab-cost Activity Costs
											#countActivities.count 
							li.col-md-2.col-sm-6.col-xs-12
								a.count-tab(data-toggle='tab', href='#gallery')
									.tileA
										.tile_stats_count
											span.count_top
												i.fa.fa-picture-o&nbsp;&nbsp;
												strong.tab-gallery Photo Gallery
											#countGallery.count 
					.tab-content
						#donations.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											span.tab-donation Donations
									.clearfix
								.x_content
									.col-md-8.col-sm-8.col-xs-12
										table#tableDonation.table.table-style-1.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
											thead
												tr
													th #
													th.th-action Action
													th.th-donator Donator
													th.th-item Item
													th.th-quantity Quantity
													th.th-time Time
											tbody
									.col-md-4.col-sm-4.col-xs-12
										form.form-horizontal.form-label-left
											.form-group
												label.control-label.col-md-3.col-sm-3.col-xs-12
													span.th-donator Donator 
													span.required  *
												.col-md-9.col-sm-9.col-xs-12
													input#txtDonatorName.form-control.col-md-7.col-xs-12(type='text', required='required')
											.form-group
												label.control-label.col-md-3.col-sm-3.col-xs-12
													span.th-donator-email Email 
													span.required  *
												.col-md-9.col-sm-9.col-xs-12
													input#txtDonatorEmail.form-control.col-md-7.col-xs-12(type='text', required='required')
											.form-group
												label.control-label.col-md-3.col-sm-3.col-xs-12
													span.th-donator-phone Phone 
													span.required  *
												.col-md-9.col-sm-9.col-xs-12
													input#txtDonatorPhone.numberField.form-control.col-md-7.col-xs-12(type='text', required='required')
											.form-group
												label.control-label.col-md-3.col-sm-3.col-xs-12
													span.th-item Donation Item
													span.required  *
												.col-md-9.col-sm-9.col-xs-12
													select#txtDonationItem.form-control.col-md-7.col-xs-12(onChange="populateUnit()")
											.form-group
												label.control-label.col-md-3.col-sm-3.col-xs-12
													span.th-quantity Quantity 
													span.required  *
												.col-md-9.col-sm-9.col-xs-12
													input#txtDonationNumber.numberField.form-control.col-md-7.col-xs-12(type='number', min="0", required='required')
											.row
												.col-md-5.col-sm-5
												.col-md-4.col-sm-4.col-xs-12
													a#donateForm-add.btn.btn-info.col-xs-12(onclick='addDonation()') Add >>
						#pendingDonations.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											span.tab-pending-donation-long Pending Donations
											small
									.clearfix
								.x_content
									.col-md-12.col-sm-12.col-xs-12
										table#tablePendingDonation.table.table-style-1.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
											thead
												tr
													th #
													th.th-action Action
													th.th-user Donator
													th.th-email Email
													th.th-phone Phone Number
													th.th-item Item
													th.th-quantity Quantity
													th.th-time Time
											tbody
						#participants.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											span.tab-participant Participants
									.clearfix
								.x_content
									table#tableParticipants.table.table-style-1.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th #
												th.th-action Action
												th.th-user User
												th.th-fullName Full Name
												th.th-email Email
												th.th-phone Phone
												th.th-join Date Joined
										tbody
						#sponsors.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											span.tab-sponsor Sponsors
											small
									.clearfix
								.x_content								
									.col-md-6.col-sm-6.col-xs-12
										h3.tab-current-sponsor Current Sponsors
										table#tableSponsor.table.table-style-1.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
											thead
												tr
													th #
													th.th-action Action
													th.th-user Sponsor
													th.th-email Email
													th.th-phone Phone
											tbody								
									.col-md-6.col-sm-6.col-xs-12
										h3.tab-pending-sponsor Pending Sponsors
										table#tablePendingSponsor.table.table-style-1.table-striped.table-bordered.dt-responsive.nowrap.datatable-responsive(cellspacing='0', width='100%')
											thead
												tr
													th #
													th.th-action Action
													th.th-user Sponsor
													th.th-email Email
													th.th-phone Phone
													th.th-donation Donation
											tbody
						#costs.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											span.tab-cost Activity Costs
									.clearfix
								.x_content
									table#tableActivityCosts.table.table-style-1.table-striped.table-bordered.dt-responsive.datatable-responsive(cellspacing='0', width='100%')
										thead
											tr
												th #
												th.th-day Day
												th.th-time Time
												th.th-place Place
												th.th-activity Activity
												th.th-cost Actual Cost
												th.th-action Action
										tbody
						#gallery.tab-pane.fade
							.row
								.col-md-12.col-sm-12.col-xs-12
									.col-md-6
										h3
											span.tab-gallery Photo Gallery
										hr
									.clearfix
								.x_content									
									.row								
										.col-md-2.col-sm-2.col-xs-12
										form#uploadForm.col-md-5.col-sm-5.col-xs-12(enctype='multipart/form-data', action='/events/addphoto', method='post')
											input.btn.btn-info(type='file', name='photoGallery', multiple='', accept=".png,.jpg,.jpeg")
											br											
											input#gallery-upload.btn.btn-info(type='submit', value='Upload Image', name='submit', style="margin=left: 20px")
											span#gallery-require(style="margin: 10px") (Maximum: 20 fields)
											input#eventId(type='hidden', name='eventId', value='#{docs._id}')
									br
									br
									.row
										#galleryPane
			#edit-actual-cost-form(title='Edit Actual Cost', style="display: none")
				p.validateTips All form fields are required.
				form
					fieldset
						.col-md-6.col-sm-6.col-xs-12
							.row
								strong.th-day Day
								| :								
								span#txtEditActivityDay
								span#txtEditActivityId(style='display:none')
							.row
								strong.th-time Time 
								| : 
								span#txtEditActivityTime
							.row
								strong.th-place Place 
								| : 
								span#txtEditActivityPlace
							.row
								strong.th-activity Activity 
								| : 
								span#txtEditActivity
							.row
								strong.th-note Note
								| : 
								span#txtEditActivityEstCost
						.col-md-6.col-sm-6.col-xs-12#donationFormItems
			// Bootsrap javascript file
			script(src='/guest_page/js/bootstrap.min.js')
			// PrettyPhoto javascript file
			script(src='/guest_page/js/jquery.prettyPhoto.js')
			// Google map
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			// Datatables
			script(src='/vendors/datatables.net/js/jquery.dataTables.min.js')
			script(src='/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
			script(src='/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
			script(src='/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
			script(src='/vendors/datatables.net-buttons/js/buttons.flash.min.js')
			script(src='/vendors/datatables.net-buttons/js/buttons.html5.min.js')
			script(src='/vendors/datatables.net-buttons/js/buttons.print.min.js')
			script(src='/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
			script(src='/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
			script(src='/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
			script(src='/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
			script(src='/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
			script(src='/vendors/jszip/dist/jszip.min.js')
			script(src='/vendors/pdfmake/build/pdfmake.min.js')
			script(src='/vendors/pdfmake/build/vfs_fonts.js')			
			// Flot
			script(src='/vendors/Flot/jquery.flot.js')
			script(src='/vendors/Flot/jquery.flot.pie.js')
			script(src='/vendors/Flot/jquery.flot.time.js')
			script(src='/vendors/Flot/jquery.flot.stack.js')
			script(src='/vendors/Flot/jquery.flot.resize.js')
			// bootstrap-daterangepicker
			script(src='	/vendors/moment/min/moment.min.js')
			script(src='	/vendors/bootstrap-daterangepicker/daterangepicker.js')
			// jquery.inputmask
			script(src='	/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
			// DateJS
			script(src='/vendors/DateJS/build/date.js')
			// TinyMCE
			script(src='/vendors/tinymce/tinymce.min.js')
			// Template main javascript
			script(src='/producer_page/js/update_event.js')
			script(src='/javascripts/global.js')
			// Google Analytics: change UA-XXXXX-X to be your site's ID.
			script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
