extends ../layout

block content
	html(lang='en')
		head
			meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
			// Meta, title, CSS, favicons, etc.
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title Charity Project | My User Page
			// Bootstrap
			link(href='../vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
			// Font Awesome
			link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
			// NProgress
			link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
			// iCheck
			link(href='../vendors/iCheck/skins/flat/green.css', rel='stylesheet')
			// bootstrap-progressbar
			link(href='../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
			// JQVMap
			link(href='../vendors/jqvmap/dist/jqvmap.min.css', rel='stylesheet')
			// bootstrap-daterangepicker
			link(href='../vendors/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
			// Datatables
			link(href='../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
			link(href='../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
			// Custom Theme Style
			link(href='../build/css/custom.min.css', rel='stylesheet')
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxUeMBUbKnW-LKTWTIL656w7nHABuNMTI&libraries=places')
			script(src='../javascripts/my_user_page.js')
			script(src='../javascripts/global.js')			
		body.nav-md									
			.right_col(role='main')
				// top tiles
				.row.page-title
					.title(style='margin: 10px')
						h1 My User Page
				br
				br
				br
				.row
					// Tabs
					// Smart Wizard					
					.form-horizontal.form-label-left
						h3(style='margin-left: 50px') User Information
						hr
						form(action="/users/updatemyuserinfo", method="post", enctype="multipart/form-data").row
							.col-md-1.col-sm-1
							.col-md-3.col-sm-3.col-xs-12(style='text-align: center')
								img#txtUserImageSrc(src='#', alt='Set your profile image!', style='height: 150px; max-width: 300px')
								br
								br
								.row										
									input#inputUserImage.btn.btn-info.col-md-12.col-sm-12.col-xs-12(type="file", name="displayUserImage", accept=".png,.jpg,.jpeg")
									input#txtImageSrc(type="hidden", name="image")
							.col-md-7.col-sm-7.col-xs-12
								.form-group
									label.control-label.col-md-2.col-sm-2.col-xs-12
										| Username
									.col-md-7.col-sm-7.col-xs-12
										input#txtUsername.form-control.col-md-7.col-xs-12(type='text', disabled='disabled')
								.form-group
									label.control-label.col-md-2.col-sm-2.col-xs-12
										| Full Name
									.col-md-7.col-sm-7.col-xs-12
										input#txtFullName.form-control.col-md-7.col-xs-12(type='text', name='fullName')
								.form-group
									label.control-label.col-md-2.col-sm-2.col-xs-12
										| Address
									.col-md-7.col-sm-7.col-xs-12
										input#txtAddress.form-control.col-md-7.col-xs-12(type='text', name='address')
								.form-group
									label.control-label.col-md-2.col-sm-2.col-xs-12
										| Email 
									.col-md-7.col-sm-7.col-xs-12
										input#txtEmail.form-control.col-md-7.col-xs-12(type='text', name='email')
								.form-group
									label.control-label.col-md-2.col-sm-2.col-xs-12
										| Phone 
									.col-md-7.col-sm-7.col-xs-12
										input#txtPhone.form-control.col-md-7.col-xs-12(type='text', name='phoneNumber')
								.row
									.col-md-6.col-sm-6
									.col-md-1.col-sm-1.col-xs-12
										button.btn.btn-info(type="submit") Save User Info
						br
						#companyInfoDiv
							h3(style='margin-left: 50px') Company Information
							hr
							form(action="/users/updatemycompanyinfo", method="post", enctype="multipart/form-data").row
								.col-md-1.col-sm-1
								.col-md-3.col-sm-3.col-xs-12(style='text-align: center')
									img#txtCompanyImageSrc(src='#', alt='Set your company image!', style='height: 150px; max-width: 300px')
									br
									br
									.row										
											input#inputCompanyImage.btn.btn-info.col-md-12.col-sm-12.col-xs-12(type="file", name="displayCompanyImage", accept=".png,.jpg,.jpeg")
											input#txtCompanyImageSrc(type="hidden", name="companyImage")
								.col-md-7.col-sm-7.col-xs-12
									.form-group
										label.control-label.col-md-2.col-sm-2.col-xs-12
											| Company Name
										.col-md-7.col-sm-7.col-xs-12
											input#txtCompanyName.form-control.col-md-7.col-xs-12(type='text', name='companyName')
									.form-group
										label.control-label.col-md-2.col-sm-2.col-xs-12
											| Company Address
										.col-md-7.col-sm-7.col-xs-12
											input#txtCompanyAddress.form-control.col-md-7.col-xs-12(type='text', name='companyAddress')
									.form-group
										label.control-label.col-md-2.col-sm-2.col-xs-12
											| Company Email 
										.col-md-7.col-sm-7.col-xs-12
											input#txtCompanyEmail.form-control.col-md-7.col-xs-12(type='text', name='companyEmail')
									.form-group
										label.control-label.col-md-2.col-sm-2.col-xs-12
											| Company Phone 
										.col-md-7.col-sm-7.col-xs-12
											input#txtCompanyPhone.form-control.col-md-7.col-xs-12(type='text', name='companyPhoneNumber')
									.row
									.col-md-6.col-sm-6
									.col-md-1.col-sm-1.col-xs-12
										button.btn.btn-info(type="submit") Save Company Info
							br
						h3(style='margin-left: 50px') Events Joined
						hr
						.row
							// MAKE SOME KIND OF SLIDER HERE
						hr
						.row
							.col-md-4.col-sm-4.col-xs-12
							.col-md-6.col-sm-6.col-xs-12
								a#btnPromote.btn.btn-info.col-md-5.col-xs-12(href='../promote') Promote
						#alert-panel
							.alert.alert-warning.alert-dismissable.fade.in(style="position:fixed; bottom:50px; right:50px;")
								a(class="close", data-dismiss="alert", aria-label="close") &times;
								span#uploadError #{uploadError}
					// End SmartWizard Content
					// /top tiles
				// /page content
				// footer content
				footer
					.pull-right
						| Gentelella - Bootstrap Admin Template by 
						a(href='https://colorlib.com') Colorlib
					.clearfix
				// /footer content
			// Bootstrap
			script(src='../vendors/bootstrap/dist/js/bootstrap.min.js')
			// FastClick
			script(src='../vendors/fastclick/lib/fastclick.js')
			// NProgress
			script(src='../vendors/nprogress/nprogress.js')
			// Chart.js
			script(src='../vendors/Chart.js/dist/Chart.min.js')
			// gauge.js
			script(src='../vendors/gauge.js/dist/gauge.min.js')
			// bootstrap-progressbar
			script(src='../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
			// iCheck
			script(src='../vendors/iCheck/icheck.min.js')
			// Skycons
			script(src='../vendors/skycons/skycons.js')
			// Flot
			script(src='../vendors/Flot/jquery.flot.js')
			script(src='../vendors/Flot/jquery.flot.pie.js')
			script(src='../vendors/Flot/jquery.flot.time.js')
			script(src='../vendors/Flot/jquery.flot.stack.js')
			script(src='../vendors/Flot/jquery.flot.resize.js')
			// Flot plugins
			script(src='../vendors/flot.orderbars/js/jquery.flot.orderBars.js')
			script(src='../vendors/flot-spline/js/jquery.flot.spline.min.js')
			script(src='../vendors/flot.curvedlines/curvedLines.js')
			// DateJS
			script(src='../vendors/DateJS/build/date.js')
			// JQVMap
			script(src='../vendors/jqvmap/dist/jquery.vmap.js')
			script(src='../vendors/jqvmap/dist/maps/jquery.vmap.world.js')
			script(src='../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
			// bootstrap-daterangepicker
			script(src='../vendors/moment/min/moment.min.js')
			script(src='../vendors/bootstrap-daterangepicker/daterangepicker.js')
			// jquery.inputmask
			script(src='../vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
			// Custom Theme Scripts
			script(src='../build/js/custom.min.js')
